<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8">
<title>Liste des Chansons</title>
<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>
</head>
<body>
<div th:replace="~{template :: navbar}"></div>

<div class="container mt-5">
  <div class="card">
    <div class="card-header">Liste des chansons</div>
    <div class="card-body">
      <a class="btn btn-primary mb-3" th:href="@{/showCreate}">+ Ajouter</a>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Titre</th>
            <th>Artiste</th>
            <th>Album</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="p : ${chansons}">
            <td th:text="${p.idChanson}"></td>
            <td th:text="${p.title}"></td>
            <td th:text="${p.artist}"></td>
            <td th:if="${p.album != null}" th:text="${p.album.nomAlb}"></td>
            <td th:if="${p.album == null}">Pas d'Album</td>
            <td>
              <a class="btn btn-success btn-sm" sec:authorize="hasAuthority('ADMIN')"
                 th:href="@{/modifierChanson(id=${p.idChanson},page=${currentPage},size=${size})}">Éditer</a>
              <a class="btn btn-danger btn-sm" sec:authorize="hasAuthority('ADMIN')"
                 onclick="return confirm('Êtes-vous sûr ?')"
                 th:href="@{/supprimerChanson(id=${p.idChanson},page=${currentPage},size=${size})}">Supprimer</a>
            </td>
          </tr>
        </tbody>
      </table>

      <ul class="nav nav-pills">
        <li th:each="page, status : ${pages}">
          <a th:class="${status.index == currentPage ? 'btn btn-primary m-1' : 'btn btn-outline-primary m-1'}"
             th:href="@{/ListeChansons(page=${status.index}, size=${size})}"
             th:text="${status.index + 1}">
          </a>
        </li>
      </ul>

    </div>
  </div>
</div>

<div th:replace="~{template :: scripts}"></div>
</body>
</html>